<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sedoc Test{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
    <img src="{{ randomImage }}">
</div>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
